@charset "UTF-8";


* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    text-align: center;
    padding: 10px;
}

.player-options img,
.enemy-options img {
    max-width: 200px;
    opacity: 0.3;
    cursor: pointer;
}

.player-options, .enemy-options {
    width: 50%;
}

.align {
    display: flex;
}

.vencedor {
    padding: 10px;
    text-align: center;
}


